# This file denotes the base configuration for the OKD 4.x cluster deployment.

apiVersion: v1
baseDomain: cluster.okd.example.com   # to change
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: okd-cluster # to change
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
pullSecret: '{"auths":{"fake":{"auth":"aWQ6cGFzcwo="}}}'
sshKey: 'YOU NEED TO REPLACE THIS WITH YOUR SSH KEY'
additionalTrustBundle: | 
  ${REGISTRY_CERTIFICATE}
imageContentSources:
- mirrors:
  - registry.example.com:5000/okd
  source: quay.io/openshift/okd
- mirrors:
  - registry.example.com:5000/okd
  source: quay.io/openshift/okd-content